
  <div class="container mt-4">
    <div class="row justify-content-center">
      <form action="/signup" method="POST" class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="row">
          <div class="col text-center">
            <h1>Register</h1>
            <p class="text-h3">You can create an account here.</p>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col mt-4">
            <input type="text" class="form-control" placeholder="Username" name="username" value="<%= typeof username != 'undefined' ? username : '' %>">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name" name="firstname" value="<%= typeof firstname != 'undefined' ? firstname : '' %>">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" name="lastname" value="<%= typeof lastname != 'undefined' ? lastname : '' %>">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="email" class="form-control" placeholder="Email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="password" name="password" class="form-control" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>">
          </div>
          <div class="col">
            <input type="password" name="password2" class="form-control" placeholder="Confirm password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <button type="submit" class="btn btn-warning" >Create Account</button>
          </div>
          <div class="col text-end">
            <a href="/">Return to homepage →</a>
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <% if (typeof errors != 'undefined') { %>
              <% for (error of errors) { %>
                <div class="alert alert-warning" role="alert"><%= error %></div>
              <% } %>
            <% } %>
          </div>
        </div>
      </form>
    </div>
  </div>

